## Practica con Numpy

### Vectores

In [5]:
# Importar la libreria Numpy
import numpy as np

In [6]:
print("Hola desde numpy")

Hola desde numpy

In [7]:
# Variables en Python
nombre = "Jorge"
edad = 21
casado = False
estatura = 1.65
print(nombre, edad, casado, estatura)

Jorge 21 False 1.65

In [10]:
print(f"Nombre {nombre}, Edad: {edad}, Estatura: {estatura}")
if casado == True:
    print("Estado civil: Casado")
else:
    print("Estado civil: Soltero")

Nombre Jorge, Edad: 21, Estatura: 1.65
Estado civil: Soltero

In [11]:
# Ejemplo del ciclo for
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
# Numeros pares del 0 al 10
for i in range(11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [15]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [17]:
# Listas []
edades = [18, 17, 19, 21, 18, 17, 23]

print(edades)

for est in edades:
    if est >= 18:
        print("Mayor de edad")
    else:
        print("No es mayor de edad")

[18, 17, 19, 21, 18, 17, 23]
Mayor de edad
No es mayor de edad
Mayor de edad
Mayor de edad
Mayor de edad
No es mayor de edad
Mayor de edad

In [18]:
# Diccionarios {}
estudiante = { "Nombre": 'Jorge Enrique Gutiérrez Llanos', "Edad": 21, "Sexo": 'Masculino'}
print(estudiante)

{'Nombre': 'Jorge Enrique Gutiérrez Llanos', 'Edad': 21, 'Sexo': 'Masculino'}

In [21]:
# Para imprimir
print("Nombre: ", estudiante["Nombre"])
print("Nombre: ", estudiante.get("Nombre"))
# Agregar un elemento mas al diccionario
estudiante["Estado_civil"] = 'Soltero'
print(estudiante)

Nombre:  Jorge Enrique Gutiérrez Llanos
Nombre:  Jorge Enrique Gutiérrez Llanos
{'Nombre': 'Jorge Enrique Gutiérrez Llanos', 'Edad': 21, 'Sexo': 'Masculino', 'Estado_civil': 'Soltero'}

In [25]:
# Lista de diccionarios
lista = [
    {"estudiante": 'Karla', "edad": 18, "promedio": 90.8},
    {"estudiante": 'Pedro', "edad": 19, "promedio": 90.1},
    {"estudiante": 'Luis', "edad": 23, "promedio": 99.3},
]
print(lista)
for est in lista:
    print(f"Nombre: {est.get("estudiante")} Promedio: {est.get("promedio")}")

[{'estudiante': 'Karla', 'edad': 18, 'promedio': 90.8}, {'estudiante': 'Pedro', 'edad': 19, 'promedio': 90.1}, {'estudiante': 'Luis', 'edad': 23, 'promedio': 99.3}]
Nombre: Karla Promedio: 90.8
Nombre: Pedro Promedio: 90.1
Nombre: Luis Promedio: 99.3

In [2]:
# Tuplas
t = (1,2,3,4,5)
print(t)
tupla_strings = ('A', 'B', 'C', 'D')
print(tupla_strings)

(1, 2, 3, 4, 5)
('A', 'B', 'C', 'D')