In [1]:
import pandas as pd

In [3]:
# leyendo el archivo csv
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Seleccionar 1 columna

## Syntax 1

In [5]:
# seleccionar una columna con [] (forma preferida de seleccionar una columna)
df['lunch']

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [7]:
# revisar el tipo de data de una columna
type(df['gender'])

pandas.core.series.Series

In [11]:
# series: atributos y metodos
df['gender'].index
df['gender'].head()
df['gender'].tail()
df['lunch'].tail()

995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, dtype: object

## Syntax 2

In [14]:
# seleccionar una columna con .
df.lunch.tail()
df.lunch.head(20)

0         standard
1         standard
2         standard
3     free/reduced
4         standard
5         standard
6         standard
7     free/reduced
8     free/reduced
9     free/reduced
10        standard
11        standard
12        standard
13        standard
14        standard
15        standard
16        standard
17    free/reduced
18    free/reduced
19    free/reduced
Name: lunch, dtype: object

In [16]:
# seleccionar una columna con . (errores que encontraras)
df.columns
df.math score # NO SIRVE

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [17]:
# seleccionar la misma columna con []
df['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64